@font-face {
    font-family: 'font1';
    src: url(/font/Jersey25-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'font2';
    src: url(/font/Jersey10Charted-Regular.ttf) format('truetype');
}
.nav-1{
    color: darkblue;
    font-size:medium;
    text-align:left;
    font-family: 'font2';
    border-left: 5px solid;
    border-color: blueviolet;
}
h1{
    font-family: 'font1';
    text-align: justify;
    color:red;
    font: size 30px;cap;
    font-size: 10ch;
    font-style:oblique;
    text-decoration: double;
    border-bottom: 10px solid;
    border-color: blue;
}
.wag{
color: violet;
}
.img-1{
    width: 35%;
}
figure{
    text-align: center;
}